<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BANE'S CODE BLOG</title>
        <meta charset="UTF-8">
        <link href="../public/styles/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
            <h3>{{catch}}</h3>
        </header>
        <main>
            <a href="">
                <h2>Talk</h2>
                <p>Talk about code</p>
            </a>
            <a href="">
                <h2>Ask</h2>
                <p>Ask BANE about code</p>
            </a>
        </main>
    </body>
</html>